html {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.01rem;
}

.poza_profil {
  border: 5px solid rgb(125, 125, 218);
  float: left;
  margin: 1rem;
  margin-right: 2rem;
  width: 12%;
}

h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: rgb(233, 142, 14);
}

body {
  background-color: papayawhip;
  padding: 3%;
  margin: 3%;
}

.meniu {
  font-size: 0.5rem;
  color: white;
}

.imagini_carti {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.imagini_carti div {
  text-align: center;
}

.section {
  border: 5px solid rgb(125, 125, 218);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: rgba(240, 240, 255, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(125, 125, 218);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #11600c;
}

.text-border {
  background-color: rgba(240, 240, 255, 0.5);
  display: inline-block;
  border: 5px outset rgb(125, 125, 218);
  padding: 5px 16px 1rem 1rem;
  border-radius: 8px;
  font-size: 1.8rem;
}
.titul_stilizare {
  border: 5px outset rgb(125, 125, 218);
  border-radius: 8px;
  border-width: 5px 20px;
  display: inline;
  padding: 0.5rem;
  font-size: 1.7rem;
}
