/* || GENERAL STYLING || */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.01rem;
}
a {
  color: #1aff09;
}
a:hover {
  color: rgb(240, 255, 30);
}

h1 {
  font-size: 3rem;
  background-blend-mode: darken;
  background-image: -o-repeating-linear-gradient(white, blue);
}

body {
  background-color: rgb(38, 79, 121);
  background-image: radial-gradient(rgb(218, 91, 209), rgb(38, 79, 121));
  padding: 3%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* || PROFILE PHOTO || */
.profile-photo {
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  border: 0.2rem solid #6a11cb;
  object-fit: cover;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: block;
  margin: 3rem auto;
}

.profile-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.3);
}
/*||IMAGINI || */

.imagini_carti {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-image: radial-gradient(rgb(185, 110, 225), rgb(252, 248, 252));

  display: inline-block;
  margin: 0.5rem;
  text-align: center;
}
.imagini_carti img {
  border: 5px double #333;
  border-radius: 25%;
  transform: skewX(-10deg);
  display: block;
  max-width: 100%;
  height: auto;
}

.imagini_carti figcaption {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}
.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*|| TEXT STYLING ||*/

.section {
  border: 5px solid rgb(125, 125, 218);
  padding: 1.2em;
  margin: 1em 0;
  border-radius: 8px;
  background-color: rgba(240, 240, 255, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.section:hover {
  background-color: midnightblue;
  transition-property: background-color;
  transition-duration: 2s;
  transition-delay: 0.5s;
}

.header-stylish {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  margin: 1rem 1rem 1rem;
  width: fit-content;
  font-size: 1rem;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.text_case {
  padding: 1.5rem;
  text-indent: 2rem;
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 550;
  color: #000000;
}

.text_case:hover {
  color: #fff;
  transition-property: color;
  transition-duration: 2s;
  transition-delay: 0.5s;
}
/* || LISTE ||*/
.list_cv {
  padding: 1.5rem;
  margin: 1.5rem;
  color: #000;
  font-size: 1.5rem;
  font-weight: 550;
}
.list_cv:hover {
  color: #fff;
  transition-property: color;
  /*   transition-duration: 1s;
  transition-delay: 0.5s; */
}
/*|| CONTACT ||*/
.list_contact {
  list-style-type: none;
  padding: 1.5rem;
  margin: 1.5rem;
  color: #000;
  font-size: 1.5rem;
  font-weight: 550;
}

.contact-form {
  width: 100%;
  max-width: 31.25rem;
  margin: auto;
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.3);
}
.contact-form:hover {
  color: #fff;
  transition-property: color;
}

.contact-form input,
.contact-form textarea {
  width: auto;
  padding: 1rem;
  margin: 0.625rem 0;
  border: 0.125rem solid #333;
  border-radius: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff00e6;
  outline: none;
  box-shadow: 0 0 0.625rem rgba(255, 0, 230, 0.6);
}

.contact-form button {
  width: auto;
  padding: 1rem;
  background: #ff00e6;
  color: #fff;
  font-size: 1.125rem;
  border: 0.125rem solid #ff00e6;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1.25rem rgba(255, 0, 230, 0.8); /* 20px */
}
/* ||  FOOTER || */
.footer_list p {
  padding: 1rem;
  color: white;
}

.footer_list ul {
  display: flex;
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
}

.footer_list ul li {
  margin-right: 1rem;
}

/**MENIU*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #5c57d7;
  color: #fff;
  position: relative;
  z-index: 100;
}

.logo img {
  width: 10rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  text-align: center;
  padding: 1rem 1.5rem;
}

.menu li a:hover {
  color: #f39c12;
}
.meniu_font {
  font-size: 2rem;
  font-weight: 550;
}
/* Hamburger Styles */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 200;
}

.hamburger span {
  width: 1.6rem;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Hamburger Styles */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 200;
  padding: 1rem;
}

.hamburger span {
  width: 1.6rem;
  height: 0.2rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
/*|| SMALL ||*/

@media screen and (max-width: 576px) {
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #5c57d7;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  }

  .menu.active {
    right: 0;
  }

  .hamburger {
    display: flex;
    margin-right: 1rem;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  body {
    justify-content: center;
    flex-grow: row wrap;
    padding: 1rem;
  }
  .imagini_carti {
    width: 100%; /* Make the image container take full width */
    float: none; /* Remove float to stack images */
  }
  .imagini_carti {
    width: min(100% 400px);
  }
  .imagini_carti:last-child {
    order: -1;
  }
}

/*|| MEDIUM ||*/

@media screen and (min-width: 768px) {
  .imagini_carti {
    width: min(100%, 325px);
  }
  .imagini_carti figure {
    flex-flow: column-reverse;
  }
  .imagini_carti figcaption {
    margin: 0.1em 0;
  }
}

/* || LARGE || */

@media screen and (min-width: 992px) {
  .imagini_carti {
    width: min(100%, 400px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 30%;
    float: left;
  }
  .imagini_carti:nth-child(2) {
    order: -1;
  }
}
